li.sequence-member .struct-block .sequence-container {
    float: right;
    width: 95%;
}

li.sequence-member .struct-block .fields {
    width: 100%;
}

.fields > li > label:not([for|=body]) {
    /* color:  red; */
}
